<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MrpAndSalesFactory.Entity.Properties.Settings.MRPANDSALESFACTORConnectionString"
            connectionString="Data Source=DESKTOP-2A7EUI3\SQLEXPRESS;Initial Catalog=MRPANDSALESFACTOR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>