<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dashboard | Hyper - Responsive Bootstrap 5 Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/Content/assets/images/favicon.ico">

    <!-- third party css -->
    <link href="/Content/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css">
    <!-- third party css end -->
    <!-- App css -->
    <link href="/Content/assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
    <link href="/Content/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">

</head>

<body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu">

            <!-- LOGO -->
            <a href="/Content/index.html" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="/Content/assets/images/logo.png" alt="" height="16">
                </span>
                <span class="logo-sm">
                    <img src="/Content/assets/images/logo_sm.png" alt="" height="16">
                </span>
            </a>

            <!-- LOGO -->
            <a href="/Content/index.html" class="logo text-center logo-dark">
                <span class="logo-lg">
                    <img src="/Content/assets/images/logo-dark.png" alt="" height="16">
                </span>
                <span class="logo-sm">
                    <img src="/Content/assets/images/logo_sm_dark.png" alt="" height="16">
                </span>
            </a>

            <div class="h-100" id="leftside-menu-container" data-simplebar="">

                <!--- Sidemenu -->
                <ul class="side-nav">



                   

                    


                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="/Content/#sidebarEcommerce" aria-expanded="false" aria-controls="sidebarEcommerce" class="side-nav-link">
                            <i class="uil-store"></i>
                            <span> Ecommerce </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarEcommerce">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="/Content/apps-ecommerce-products.html">Products</a>
                                </li>
                                <li>
                                    <a href="/Content/apps-ecommerce-products-details.html">Products Details</a>
                                </li>
                                <li>
                                    <a href="/Content/apps-ecommerce-orders.html">Orders</a>
                                </li>
                                <li>
                                    <a href="/Content/apps-ecommerce-orders-details.html">Order Details</a>
                                </li>
                                <li>
                                    <a href="/Content/apps-ecommerce-customers.html">Customers</a>
                                </li>
                                <li>
                                    <a href="/Content/apps-ecommerce-shopping-cart.html">Shopping Cart</a>
                                </li>
                                <li>
                                    <a href="/Content/apps-ecommerce-checkout.html">Checkout</a>
                                </li>
                                <li>
                                    <a href="/Content/apps-ecommerce-sellers.html">Sellers</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    

                    

                    

                    

                    

                   

                   
                </ul>

              

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                <!-- end Topbar -->
                <!-- Start Content-->
                <div class="container-fluid">

                  @RenderBody()

                </div>
                <!-- container -->

            </div>
            <!-- content -->
            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end footer-links d-none d-md-block">
                                <a href="/Content/javascript: void(0);">About</a>
                                <a href="/Content/javascript: void(0);">Support</a>
                                <a href="/Content/javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->
    <!-- Right Sidebar -->
    

    <div class="rightbar-overlay"></div>
    <!-- /End-bar -->
    <!-- bundle -->
    <script src="/Content/assets/js/vendor.min.js"></script>
    <script src="/Content/assets/js/app.min.js"></script>

    <!-- third party js -->
    <script src="/Content/assets/js/vendor/apexcharts.min.js"></script>
    <script src="/Content/assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/Content/assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
    <!-- third party js ends -->
    <!-- demo app -->
    <script src="/Content/assets/js/pages/demo.dashboard.js"></script>
    <!-- end demo js-->
</body>
</html>